.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-orange {
  display: block;
  background-color: var(--orange);
  border: transparent;
  border-radius: 74px;
  color: var(--total-black);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.button-transparent {
  display: block;
  background-color: var(--total-black);
  border: var(--total-white);
  border-radius: 74px;
  color: var(--total-white);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
