:root {
    --orange: #F87719;
    --total-black: #111111;
    --ligth-black: #282828;
    --grey: #595959;
    --ligth-grey: #B7B7B7;
    --ligth-white: #F8F8F8;
    --total-white: #FFFFFF;
    --red: #F84119;
    --yellow: #FFC226;
    --shadow: rgba(1, 1, 1, 0.25);
}