header img {
width:fit-content;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-link {
  display: block;
  width: 100%;
}

.nav-list {
  display: none;
}

.logo {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mobile-logo {
margin-bottom: 40px;
}

.nav-menu {
  display: block;
  color: var(--ligth-grey); 
  transition: 1000ms;
}

.nav-menu:hover,
.nav-menu:focus {
  transition: color 0.6s, transform 0.6s;
  transform: scale(1.1);
  color: var(--orange);
}

.switcher {
  width: 44px;
  height: 18px;
  padding: 4px;
  background: linear-gradient(141.22deg, var(--yellow) 9.4%, var(--red) 90.6%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  cursor: pointer;
}

.switch-icon {
  display: flex;
  align-items: center;
}

.header__icon-moon, .header__icon-sun {
  width: 8px;
  height: 8px;
}

.switcher__ball {
  transition-duration: 500ms;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 29px;
  top: 2px;
  right: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url('../images/btn.svg');
  background-size: contain;
}

.light .switcher__ball {
  width: 17.5px;
  height: 17.5px;
  transform: translateY(-3.5px) translateX(-31px) rotate(-180deg);
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 32px;
  }

  .nav-list-menu {    
    color: var(--ligth-grey); 
    transition: 1000ms;
  }

  .nav-list-menu:hover,
  .nav-list-menu:focus {
  transition: color 0.6s, transform 0.6s;
  transform: scale(1.1);
  color: var(--orange);
}

.backdrop-menu {
  display: none;
}

.menu-container {
  display: none;
}
    .switcher {
    width: 60px;
    height: 24px;
    padding: 5px;
  }

    .header__icon-moon, .header__icon-sun {
    width: 10px;
    height: 10px;
  }

    .switcher__ball {
    bottom: 2px;
    left: 39px;
    width: 24px;
    height: 24px;
}

  .light .switcher__ball {
    width: 23.5px;
    height: 23.5px;
    transform: translateY(-5px) translateX(-42px) rotate(-180deg);
  }
}

@media screen and (min-width: 1280px) {

    .nav-list {
    gap: 40px;
  }

  .switcher {
    width: 65px;
    height: 26px;
    padding: 6px;
  }

    .header__icon-moon, .header__icon-sun {
    width: 14px;
    height: 14px;
  }

    .switcher__ball {
    left: 40px;
    top: 2.5px;
    width: 28px;
    height: 28px;
  }

    .light .switcher__ball {
    top: 2px;
    width: 28px;
    height: 28px;
    transform: translateY(-6px) translateX(-44px) rotate(-180deg);
  }
}
