.hero-section {
  padding-top: 40px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url();
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: url();
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 62px;
    padding-bottom: 62px;

    background-image: none;
  }
}
@media screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 169px;
    padding-bottom: 169px;

    background-image: none;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--total-white);
}

@media screen and (min-width: 768px){
.hero-section{
  f
}
}

@media screen and (min-width: 1440px){
.hero-section{
  f
}
}

.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--ligth-white);
}

@media screen and (min-width: 768px){
.hero-section{
  f
}
  }

@media screen and (min-width: 1440px){
.hero-section{
  f
}
}
