.transition-fade {
  opacity: 0;
}

.hero-section {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
      86.77deg,
      #111111 30.38%,
      rgba(17, 17, 17, 0) 65.61%
    ),
    var(--total-black) url(../images/hero/1hero_mob@1x.jpg) no-repeat 95px /
      cover;

  padding-top: 40px;
  padding-bottom: 80px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      var(--total-black) url(../images/hero/1hero_mob@2x.jpg) no-repeat 95px /
        cover;
  }
}

.hero-wrapper {
  margin-left: 32px;
  padding: 0;
}

.hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.17;
  color: var(--total-white);

  margin-bottom: 8px;
  width: 199px;
}

.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--ligth-white);

  margin-bottom: 20px;
  width: 166px;
}

.button-orange {
  font-size: 12px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  width: 110px;
}

.hero-text-magic {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--ligth-white);
  display: none;
}

.button-orange:hover,
.button-orange:focus {
  color: var(--ligth-white);
  outline: 1px solid var(--orange);
  background: transparent;

  box-shadow: 2px 2px 14px 4px rgba(255, 107, 8, 0.42);
}

/*---------------        
CSS for Slider    
---------------------*/

.hero-section-slide {
  padding: 0 20px;
  margin: 0 auto;

  padding-top: 40px;
  padding-bottom: 80px;

  transition: opacity 0.8s;
}

.hero-title-slide {
  width: 232px;
  font-size: 32px;
  line-height: 1.17;

  margin-bottom: 12px;
}

.hero-descr {
  width: 177px;
  height: 66px;

  overflow: hidden;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;

  margin-bottom: 20px;
}

.hero-btn-wrap {
  display: flex;
  gap: 8px;
}

.hero-btn-trailer {
  display: block;
  background: linear-gradient(145deg, var(--yellow) 0%, var(--red) 100%);
  border: transparent;
  border-radius: 74px;
  color: var(--total-black);
  font-weight: 500;
  text-align: center;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 12px;
  line-height: 1.16;
}

.hero-btn-more {
  display: block;
  background-color: transparent;
  outline: 1px solid var(--total-white);
  border: transparent;
  border-radius: 74px;
  color: var(--total-white);
  text-align: center;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 12px;
  line-height: 1.16;
}

.hero-btn-trailer:hover,
.hero-btn-trailer:focus {
  color: var(--ligth-white);
  outline: 1px solid var(--orange);
  background: transparent;

  box-shadow: 2px 2px 14px 4px rgba(255, 107, 8, 0.42);
}

.hero-btn-more:hover,
.hero-btn-more:focus {
  color: var(--orange);
  background: var(--ligth-white);

  box-shadow: 2px 2px 14px 4px rgba(255, 107, 8, 0.42);
}

@media screen and (min-width: 768px) {
  .hero-section {
    background: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      var(--total-black) url(../images/hero/1hero_tab@1x.jpg) no-repeat 195px -50px /
        cover;

    padding-top: 62px;
    padding-bottom: 62px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        var(--total-black) url(../images/hero/1hero_tab@2x.jpg) no-repeat 195px -50px /
          cover;
    }
  }

  .button-orange {
    width: 120px;
    font-size: 14px;
  }

  .hero-title {
    font-size: 44px;
    line-height: 1.17;

    width: 332px;
  }

  .hero-text {
    display: none;
  }

  .hero-text-magic {
    display: block;

    padding-bottom: 32px;
    width: 357px;
  }

  .hero-section-slide {
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 32px;
  }

  .hero-title-slide {
    width: 445px;
    font-size: 44px;
    line-height: 1.17;
    font-weight: 700;
  }

  .hero-descr {
    width: 295px;
  }

  .hero-btn-trailer {
    font-size: 14px;
    line-height: 1.42;
  }

  .hero-btn-more {
    font-size: 14px;
    line-height: 1.42;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    background: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      var(--total-black) url(../images/hero/1hero_des@1x.jpg) no-repeat 250px -70px /
        cover;

    padding-top: 169px;
    padding-bottom: 169px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        var(--total-black) url(../images/hero/1hero_des@2x.jpg) no-repeat 250px -70px /
          cover;
    }
  }

  .hero-wrapper {
    margin-left: 120px;
  }

  .button-orange {
    width: 130px;
    font-size: 16px;
  }

  .hero-title {
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 16px;

    width: 464px;
  }

  .hero-text-magic {
    display: block;

    font-size: 16px;
    line-height: 1.17;
    width: 464px;
  }

  .hero-section-slide {
    padding-top: 140px;
    padding-bottom: 240px;
    padding-left: 135px;
  }

  .hero-title-slide {
    width: 670px;
    font-size: 64px;
    line-height: 1.17;
  }

  .hero-descr {
    width: 367px;
  }

  .hero-btn-trailer {
    font-size: 16px;
    line-height: 1.5;
  }

  .hero-btn-trailer {
    font-size: 16px;
    line-height: 1.5;
  }

  .hero-btn-more {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      var(--total-black) url(../images/hero/1hero_des@1x.jpg) no-repeat center /
        cover;

    padding-top: 140px;
    padding-bottom: 240px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        var(--total-black) url(../images/hero/1hero_des@2x.jpg) no-repeat center /
          cover;
    }
  }

  .button-orange {
    width: 150px;
    font-size: 18px;
  }

  .hero-section-slide {
    height: 800px;

    padding-top: 200px;
    padding-bottom: 150px;
  }

  .hero-title-slide {
    font-size: 85px;
    line-height: 1.12;
  }

  .hero-descr {
    width: 500px;
    font-size: 19px;
  }

  .hero-btn-trailer {
    font-size: 18px;
    line-height: 1.17;
  }

  .hero-btn-more {
    font-size: 18px;
    line-height: 1.17;
  }
}

/*---------------        
CSS for Library    
---------------------*/

.hero-section-library {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
      86.77deg,
      #111111 30.38%,
      rgba(17, 17, 17, 0) 65.61%
    ),
    var(--total-black) url(../images/lib/3lib_mob@1x.jpg) no-repeat center /
      cover;

  padding-top: 40px;
  padding-bottom: 144px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section-library {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      var(--total-black) url(../../images/lib/3lib_mob@2x.jpg) no-repeat center /
        cover;
  }
}

.hero-library-title {
  width: 235px;
  font-size: 32px;
  line-height: 1.17;

  margin-bottom: 8px;
}

.hero-library-text {
  width: 249px;
  font-size: 14px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .hero-section-library {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      var(--total-black) url(../images/lib/2lib_tab@1x.jpg) no-repeat center /
        cover;
    padding-top: 62px;
    padding-bottom: 118px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section-library {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        var(--total-black) url(../images/lib/2lib_tab@2x.jpg) no-repeat center /
          cover;
    }
  }

  .hero-library-title {
    width: 332px;
    font-size: 44px;
    line-height: 1.17;
  }

  .hero-library-text {
    width: 357px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section-library {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      var(--total-black) url(../images/lib/2lib_des@1x.jpg) no-repeat center /
        cover;

    padding-top: 169px;
    padding-bottom: 249px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section-library {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        var(--total-black) url(../images/lib/2lib_des@2x.jpg) no-repeat center /
          cover;
    }
  }

  .hero-library-title {
    width: 464px;
    font-size: 64px;
    line-height: 1.14;
  }

  .hero-library-text {
    width: 464px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section-library {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      var(--total-black) url(../images/lib/2lib_des@1x.jpg) no-repeat center /
        cover;

    padding-top: 200px;
    padding-bottom: 300px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section-library {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        var(--total-black) url(../images/lib/2lib_des@2x.jpg) no-repeat center /
          cover;
    }
  }

  .hero-library-title {
    width: 520px;
    font-size: 72px;
  }

  .hero-library-text {
    font-size: 18px;
  }
}
