.is-active {
    color: var(--orange);
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.backdrop {
  background-color: var(--total-white);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation-name: opacity;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100%;
  z-index: 999;
  border-radius: 0 8px 8px 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-100%);

  background-color: var(--total-black);
  position: fixed;
  overflow: hidden;
}

.menu-container.is-open {
  transform: translateX(0);
}

.fixed {
  position: fixed;
  overflow: hidden;
}

body.light .menu-container {
  background-color: var(--ligth-white);
}

body.light .is-active {
  color: var(--orange);
}

