.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
}

.is-scroll-block {
  overflow: hidden;
}

.modal__content {
  display: flex;
  flex-wrap: wrap;
}

.modal__btn-close {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
}

.modal__icon-moon{
  stroke: var(--total-white);
}

body.light .modal__icon-moon {
  stroke: var(--total-black);
}

.modal-container {
  width: 280px;
  max-height: 847px;
  background-color: var(--total-black);
  padding: 52px 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
  overflow: hidden;
  z-index: 10000000000;
}

body.light .modal-container {
  background-color: var(--total-white);
}

.modal__image {
  padding-bottom: 22px;
  border-radius: 4px;
  height: 315px;
  width: 248px;
}

.modal__title {
  color: var(--total-white);

  padding-bottom: 29px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1,5;
  width: 100%;
}

body.light .modal__title {
  color: var(--total-black);
}

.modal__list {
  margin-right: auto;
      display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.modal__item {
  display: flex;
}

.modal__desc {
  color: var(--ligth-grey);

  margin-right: auto;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}

body.light .modal__desc {
  color: var(--total-black);
}

.modal__list_second {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.modal__value {
  display: flex;
  color: var(--ligth-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 102px
}

body.light .modal__value {
  color: var(--total-black);
}

.tag {
  display: inline-flex;
  padding: 1px 8px;
 
  align-items: flex-start;
  gap: 10px;
  background-color: var(--ligth-white);
  color: var(--ligth-black);
  border-radius: 5px;
}

.modal__about {
  max-height: 140px;
}

.modal__subtitle {
  padding-top: 8px;
  color: var(--ligth-grey);
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
}

body.light .modal__subtitle {
  color: var(--total-black);
}

.modal__text {
  color: var(--ligth-white);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  width: 248px;
  max-height: 100px;
  white-space: normal;
  text-overflow: ellipsis;

  overflow-y: auto;
}

body.light .modal__text {
  overflow-y: auto;
  color: var(--ligth-black);
}

.btn-add-library {
  min-width: 140px;
  height: 45px;
  padding: 12px 24px;
  display: block;
  background: linear-gradient(145deg, var(--yellow) 0%, var(--red) 100%);
  border: transparent;
  border-radius: 74px;
  color: var(--total-black);
  font-weight: 500;
  line-height: 1.33;
  font-size: 12px;
  text-align: center;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-add-library:hover,
.btn-add-library:focus {
   color: var(--ligth-white);
  outline: 1px solid var(--orange);
  background: transparent;

  box-shadow: 2px 2px 14px 4px rgba(255, 107, 8, 0.42);
}

body.light .tag {
  background-color: var(--ligth-black);
  color: var(--ligth-white);
}

body.light .btn-add-library {
  display: block;
  background-color: transparent;
  outline: 1px solid var(--total-white);
  border: transparent;
  border-radius: 74px;
  color: var(--total-white);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.light .btn-add-library:hover,
body.light .btn-add-library:focus {
  color: var(--orange);
  outline: 1px solid var(--orange);
  background: transparent;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42)
}

@media screen and (min-width: 768px) {

  .modal__value {
    max-width: 139px;
  }

  .modal__list {
    margin-right: 62px;
  }
  
  .modal__btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  
  .modal-container {
    width: 704px;
    height: 488px;
    padding: 44px 49px 44px 44px;
  }

    .mod-con {
    display: flex;
  }

    .modal__image {
    width: 294px;
    height: 400px;
    padding-right: 16px;
    border-radius: 5px;
    padding-bottom: 0;
  }

    .modal__title {
    font-size: 24px;
    line-height: 1.17;
    padding-bottom: 0px;
  }

    .modal__desc {
    font-size: 14px;
    line-height: 1.2;
  }

    .tag {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }

    .modal__subtitle {
    font-size: 14px;
    padding-bottom: 16px;
    text-transform: uppercase;
    padding-top: 0px;
  }
  .modal__text {
    width: 301px;
  }
}

@media screen and (min-width: 1280px) {

   .modal__list, .modal__list_second{
    height: 100px;
   }
  
  .modal-container {
    width: 846px;
    height: 598px;
    padding: 60px;
  }

    .modal__image {
    width: 375px;
    height: 478px;
    padding-right: 20px;
  }

    .modal__desc {
    font-size: 16px;
  }
  .modal__subtitle {
    font-size: 16px;
    padding-bottom: 16px;
  }
  .modal__text {
    width: 331px;
    max-height: 120px;
    flex-shrink: 0;
  }
}