<section class="about-us" id="about-us">
  <div class="container about-us-div">
    <div class="about-us-desktop">
      <h2 class="about-us-title">About us</h2>
      <h3 class="about-us-subtitle">
        Our сraftsmanship: сreating unique handmade furniture
      </h3>
      <p class="about-us-paragraph">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="list list-features">
        <li class="our-features-item">
          <p class="features-item-title">5&#43;</p>
          <p class="item-paragraph">
            Years of experience creating handcrafted furniture
          </p>
        </li>

        <li class="our-features-item">
          <p class="features-item-title">100&#37;</p>
          <p class="item-paragraph">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="our-features-item">
          <p class="features-item-title">500&#43;</p>
          <p class="item-paragraph">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <picture class="about-us-image">
      <source
        media="(max-width: 767.9px)"
        srcset="
          ./images/mobile/about_us/pic@1x.webp 1x,
          ./images/mobile/about_us/pic@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767.9px)"
        srcset="
          ./images/mobile/about_us/pic@1x.jpg 1x,
          ./images/mobile/about_us/pic@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 1439.9px)"
        srcset="
          ./images/tablet/about_us/pic@1x.webp 1x,
          ./images/tablet/about_us/pic@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 1439.9px)"
        srcset="
          ./images/tablet/about_us/pic@1x.jpg 1x,
          ./images/tablet/about_us/pic@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/desktop/about_us/pic@1x.webp 1x,
          ./images/desktop/about_us/pic@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/desktop/about_us/pic@1x.jpg 1x,
          ./images/desktop/about_us/pic@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./images/desktop/about_us/pic@2x.jpg"
        class="about-us-picture"
        alt="sofa"
        width="704"
        height="540"
      />
    </picture>
  </div>
</section>
