<section class="clients" id="reviews">
  <div class="clients-container container">
    <h2 class="clients-tittle">Clients reviews</h2>
    <ul class="clients-list list">
      <li class="client-1 client-item">
        <a href="#" class="comment-link">
          <div class="up-wrapper">
            <picture class="img-wrapper-reviews">
              <!-- Desktop screen -->
              <source
                srcset="
                  ./images/desktop/clients/pic@1x.webp 1x,
                  ./images/desktop/clients/pic@2x.webp 2x
                "
                media="(min-width:1440px)"
                type="image/webp"
              />

              <source
                srcset="
                  ./images/desktop/clients/pic@1x.png 1x,
                  ./images/desktop/clients/pic@2x.png 2x
                "
                media="(min-width:1440px)"
                type="image/png"
              />

              <!-- Tablet screen -->

              <source
                srcset="
                  ./images/tablet/clients/pic@1x.png 1x,
                  ./images/tablet/clients/pic@2x.png 2x
                "
                media="(min-width:768px)"
                type="image/png"
              />

              <source
                srcset="
                  ./images/tablet/clients/pic@1x.webp 1x,
                  ./images/tablet/clients/pic@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <!-- Mobile screen -->

              <source
                srcset="
                  ./images/mobile/clients/pic@1x.png 1x,
                  ./images/mobile/clients/pic@2x.png 2x
                "
                type="image/png"
              />

              <source
                srcset="
                  ./images/mobile/clients/pic@1x.webp 1x,
                  ./images/mobile/clients/pic@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                src="./images/desktop/clients/pic@1x.png"
                alt="Alexandra Dream"
                class="client-photo"
                width="48"
                height="48"
              />
            </picture>

            <div>
              <h3 class="name-of-client">Alexandra Dream</h3>
              <p class="lost-comment">1 week ago</p>
            </div>
          </div>

          <p class="client-comment">
            I was blown away by the quality and craftsmanship of the furniture I
            received from this company. Each piece was unique and beautifully
            designed, and you can tell that a lot of thought and care goes into
            every detail.
          </p>
        </a>
      </li>
      <li class="client-2 client-item none">
        <a href="#" class="comment-link"
          ><div class="up-wrapper">
            <picture class="img-wrapper-reviews">
              <!-- Desktop screen -->
              <source
                srcset="
                  ./images/desktop/clients/pic2@1x.webp 1x,
                  ./images/desktop/clients/pic2@2x.webp 2x
                "
                media="(min-width:1440px)"
                type="image/webp"
              />

              <source
                srcset="
                  ./images/desktop/clients/pic2@1x.png 1x,
                  ./images/desktop/clients/pic2@2x.png 2x
                "
                media="(min-width:1440px)"
                type="image/png"
              />

              <!-- Tablet screen -->

              <source
                srcset="
                  ./images/tablet/clients/pic2@1x.webp 1x,
                  ./images/tablet/clients/pic2@2x.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/tablet/clients/pic2@1x.png 1x,
                  ./images/tablet/clients/pic2@2x.png 2x
                "
                media="(min-width:768px)"
                type="image/png"
              />

              <img
                src="./images/desktop/clients/pic2@1x.png"
                alt="James Williams"
                class="client-photo"
                width="48"
                height="48"
              />
            </picture>

            <div>
              <h3 class="name-of-client">James Williams</h3>
              <p class="lost-comment">1 week ago</p>
            </div>
          </div>
          <p class="client-comment">
            The "Minimal" furniture set is a fantastic addition to my home. It
            boasts a minimalist design, enhancing the feel and look of my living
            space. The sturdy construction is worth noting too, which speaks
            volumes about its durability.
          </p>
        </a>
      </li>
      <li class="client-3 client-item none">
        <a href="#" class="comment-link"
          ><div class="up-wrapper">
            <picture class="img-wrapper-reviews">
              <!-- Desktop screen -->
              <source
                srcset="
                  ./images/desktop/clients/pic3@1x.webp 1x,
                  ./images/desktop/clients/pic3@2x.webp 2x
                "
                media="(min-width:1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/desktop/clients/pic3@1x.png 1x,
                  ./images/desktop/clients/pic3@2x.png 2x
                "
                media="(min-width:1440px)"
                type="image/png"
              />
              <img
                src="./images/desktop/clients/pic3@1x.png"
                alt="Emily Watson"
                class="client-photo"
                width="48"
                height="48"
              />
            </picture>

            <div>
              <h3 class="name-of-client">Emily Watson</h3>
              <p class="lost-comment">3 week ago</p>
            </div>
          </div>
          <p class="client-comment">
            The "Minimal" furniture set has far exceeded my expectations. The
            sleek design combined with the high-quality materials have not only
            added an exceptional aesthetic to my space but also offered an
            uncompromising standard of comfort.
          </p></a
        >
      </li>
    </ul>
  </div>
</section>
