<section class="section my-library-section">
  <div class="container">
    <div class="wrapper">
      <div class="dropdown">
        <button class="filter-down-button" data-name="genre">Genre</button>
        <ul
          class="dropdown-list visually-hidden"
          aria-labelledby="dropdownMenuButton1"
        >
          <li data-name="Romance">
            <a class="genre-item" href="#" data-name="romance">Romance</a>
          </li>
          <li data-name="Detective">
            <a class="genre-item" href="#" data-name="detective">Detective</a>
          </li>
          <li data-name="Thriller">
            <a class="genre-item" href="#" data-name="thriller">Thriller</a>
          </li>
          <li data-name="action">
            <a class="genre-item" href="#" data-name="action">Action</a>
          </li>
          <li data-name="documentary">
            <a class="genre-item" href="#" data-name="documentary"
              >Documentary</a
            >
          </li>

          <li data-name="Thriller">
            <a class="genre-item" href="#" data-name="Thriller">Thriller</a>
          </li>
          <li data-name="Mystery">
            <a class="genre-item" href="#" data-name="Mystery">Mystery</a>
          </li>

          <li data-name="Science Fiction">
            <a class="genre-item" href="#" data-name="Science Fiction"
              >Science Fiction</a
            >
          </li>
          <li data-name="Fantasy">
            <a class="genre-item" href="#" data-name="Fantasy">Fantasy</a>
          </li>
          <li data-name="Crime">
            <a class="genre-item" href="#" data-name="Crime">Crime</a>
          </li>
          <li data-name="Adventure">
            <a class="genre-item" href="#" data-name="Adventure">Adventure</a>
          </li>
          <li data-name="horror">
            <a class="genre-item" href="#" data-name="horror">Horror</a>
          </li>
        </ul>
      </div>

      <ul id="my-library" class="my-library"></ul>
      <div class="my-library-buttons">
        <a href="./catalog.html" class="button-orange search-movie-btn-link"
          >Search movie</a
        >
        <button class="button-orange visually-hidden load-more-btn">
          Load more
        </button>
      </div>
    </div>
  </div>
  <div class="modal-container visually-hidden"></div>
</section>
