<section class="container">
  <div class="form-position">
    <form class="search-form" id="search-form">
      <input
        class="input-catalog"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search"
      />
      <button class="button-search" type="submit">
        <!-- <svg class="search__icon">
          <use href="./images/sprite.svg#icon-searh"></use>
        </svg> -->
      </button>
    </form>
  </div>

  <ul class="gallery"></ul>

  <div id="pagination" class="tui-pagination"></div>
</section>
