<section class="section my-library-section" id="my-library-section">
  <div class="container">
    <div class="wrapper">
      <div class="dropdown">
        <button class="filter-down-button" data-name="genre">Genre</button>
        <a href="#" class="seeall">See all</a>
        <ul
          class="dropdown-list visually-hidden"
          aria-labelledby="dropdownMenuButton1"
        ></ul>
      </div>

      <ul id="my-library" class="my-library container-img-weekly"></ul>
      <div class="my-library-buttons">
        <a href="./catalog.html" class="button-orange search-movie-btn-link"
          >Search movie</a
        >
        <button class="button-orange visually-hidden load-more-btn">
          Load more
        </button>
      </div>
    </div>
  </div>
  <div class="modal-container visually-hidden"></div>
</section>
