<section class="section my-library-section">
  <div class="container">
    <div class="wrapper">
      <div class="dropdown">
        <button class="filter-down-button" data-name="genre">Genre</button>
        <ul
          class="dropdown-list visually-hidden"
          aria-labelledby="dropdownMenuButton1"
        >
          <li data-name="romance">
            <a class="genre-item" href="#" data-name="romance">Romance</a>
          </li>
          <li data-name="detective">
            <a class="genre-item" href="#" data-name="detective">Detective</a>
          </li>
          <li data-name="action">
            <a class="genre-item" href="#" data-name="action">Action</a>
          </li>
          <li data-name="documentary">
            <a class="genre-item" href="#" data-name="documentary"
              >Documentary</a>
          </li>
          <li data-name="thriller">
            <a class="genre-item" href="#" data-name="thriller">Thriller</a>
          </li>
          <li data-name="mystery">
            <a class="genre-item" href="#" data-name="mystery">Mystery</a>
          </li>

          <li data-name="science Fiction">
            <a class="genre-item" href="#" data-name="science Fiction"
              >Science Fiction</a
            >
          </li>
          <li data-name="fantasy">
            <a class="genre-item" href="#" data-name="fantasy">Fantasy</a>
          </li>
          <li data-name="crime">
            <a class="genre-item" href="#" data-name="crime">Crime</a>
          </li>
          <li data-name="adventure">
            <a class="genre-item" href="#" data-name="adventure">Adventure</a>
          </li>
          <li data-name="horror">
            <a class="genre-item" href="#" data-name="horror">Horror</a>
          </li>
        </ul>
      </div>

      <ul id="my-library" class="my-library container-img-weekly"></ul>
      <div class="my-library-buttons">
        <a href="./catalog.html" class="button-orange search-movie-btn-link"
          >Search movie</a
        >
        <button class="button-orange visually-hidden load-more-btn">
          Load more
        </button>
      </div>
    </div>
  </div>
  <div class="modal-container visually-hidden"></div>
</section>
