<footer>
  <div class="container footer-content ">
    <p>
      &#169; 2023 | All Rights Reserved | Developed&nbsp;with
      <span class="heart">
        <svg width="14" height="12.8">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
      </span>
      by&nbsp;
      <button class="footer-link" type="button" modal-footer-open>
        GoIT Students
      </button>
    </p>
  </div>


  <div class="backdrop visually-hidden" ftr-backdrop tabindex="1"></div>

  <div class="modal-ftr visually-hidden" modal-footer>
    <div class="modal-ftr-top">
      <button modal-footer-close class="modal-ftr-btn-close" type="button">
        <svg class="mod-ftr-btn-icon" width="10" height="10">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>
    </div>

    <p class="students-title">Our team</p>
    <div class="students">
      <ul class="list st-list">
        <li class="student">
          <img
            src="./images/our_team_opt/Andrej_02.jpg"
            alt="Andrii Nepomniashchyi"
            class="st-pic"
          />
          <a
            href="https://github.com/Andre29839"
            class="sign link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div>
              <p class="st-name">Andrii Nepomniashchyi</p>
              <p class="st-descript">
                Team Leader, Full&nbsp;Stack&nbsp;Developer
              </p>
            </div>
            <div class="gith">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="student">
          <img
            src="./images/our_team_opt/Sashechka3_02.jpg"
            alt="Oleksandr Liashenko"
            class="st-pic"
          />
          <a
            href="https://github.com/AlexLiashenko19"
            class="sign link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div>
              <p class="st-name">Oleksandr Liashenko</p>
              <p class="st-descript">
                Scrum Master, Full&nbsp;Stack&nbsp;Developer
              </p>
            </div>
            <div class="gith">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="student">
          <img
            src="./images/our_team_opt/Elonka_02.jpg"
            alt="Elona Savchenko"
            class="st-pic"
          />
          <a
            href="https://github.com/Elonka5"
            class="sign link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div>
              <p class="st-name">Elona Savchenko</p>
              <p class="st-descript">Full Stack Developer</p>
            </div>
            <div class="gith">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="student">
          <img
            src="./images/our_team_opt/Mariia3_02.jpg"
            alt="Mariia Cherkashyna"
            class="st-pic"
          />
          <a
            href="https://github.com/gostraa"
            class="sign link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div>
              <p class="st-name">Mariia Cherkashyna</p>
              <p class="st-descript">Full Stack Developer</p>
            </div>
            <div class="gith">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="student">
          <img
            src="./images/our_team_opt/Diana_02.jpg"
            alt="Diana Shylova"
            class="st-pic"
          />
          <a
            href="https://github.com/DianaShylova"
            class="sign link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div>
              <p class="st-name">Diana Shylova</p>
              <p class="st-descript">Full Stack Developer</p>
            </div>
            <div class="gith">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="student">
          <img
            src="./images/our_team_opt/DenShteph3_02.jpg"
            alt="Stepan Denysiuk"
            class="st-pic"
          />
          <a
            href="https://github.com/DenShtephen"
            class="sign link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div>
              <p class="st-name">Stepan Denysiuk</p>
              <p class="st-descript">Full Stack Developer</p>
            </div>
            <div class="gith">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="student">
          <img
            src="./images/our_team_opt/Krytsia4_02.jpg"
            alt="Andrii Krytsia"
            class="st-pic"
          />
          <a
            href="https://github.com/AndriiKrytsia"
            class="sign link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div>
              <p class="st-name">Andrii Krytsia</p>
              <p class="st-descript">Full Stack Developer</p>
            </div>
            <div class="gith">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
