<header class="header">
    <div class="container flex-container">
         <a href="./index.html">
          <picture class="logo">
                    <source srcset="
                    ./images/logo/logo_tab@1x.png 1x,
                    ./images/logo/logo_tab@2x.png 2x
                      " media="(min-width: 768px)" />
                    <source srcset="
                        ./images/logo/logo_mob@1x.png 1x,
                        ./images/logo/logo_mob@2x.png 2x
                      " media="(max-width: 767.9px)" />
                    <img src="./images/logo/logo_tab@1x.png " alt="Фільм" />
                  </picture>
                </a>
        <span class="nav-menu" data-menu-open>MENU</span>
          <ul class="nav-list">
            <li class="nav-list-menu index is-active"><a href="./index.html" class="menu-link">HOME</a></li>
            <li class="nav-list-menu catalog"><a href="./catalog.html" class="menu-link">CATALOG</a></li>
            <li class="nav-list-menu library"><a href="./my-library.html" class="menu-link">MY LIBRARY</a></li>
          </ul>
        <div class="switcher">
          <div class="switch-icon">
           <svg width="14" height="14" class="header__icon-moon">
             <use href="./images/icons.svg#icon-moon"></use>
            </svg>
          </div>
            <span class="switcher__ball">
            <svg width="18" height="18">
              <use href="./images/btn.svg"></use>
            </svg>
          </span>
          <div class="switch-icon">
            <svg width="14" height="14" class="header__icon-sun">
              <use href="./images/icons.svg#icon-sun"></use>
            </svg>
          </div>
        </div>
    </div>

        <div class="backdrop visually-hidden" data-backdrop></div>
      </div>
</header>
