<header class="header">
    <div class="container flex-container">
         <a href="./index.html" class="logo-link">
          <img class="logo" src="./images/logo/header_logo@2x.png" width="32px" height="32px" alt="Фільм" />
          <span class="web-site-name">cinemania</span>
        </a>
        <span class="nav-menu menu" data-menu-open>menu</span>
          <ul class="nav-list">
            <li class="nav-list-menu index is-active"><a href="./index.html" class="menu-link">home</a></li>
            <li class="nav-list-menu catalog"><a href="./catalog.html" class="menu-link">catalog</a></li>
            <li class="nav-list-menu library"><a href="./my-library.html" class="menu-link">my library</a></li>
          </ul>
        <div class="switcher">
          <div class="switch-icon">
           <svg width="14" height="14" class="header__icon-moon">
             <use href="./images/icons.svg#icon-moon"></use>
            </svg>
          </div>
            <span class="switcher__ball">
            <svg width="18" height="18">
              <use href="./images/btn.svg#btn"></use>
            </svg>
          </span>
          <div class="switch-icon">
            <svg width="14" height="14" class="header__icon-sun">
              <use href="./images/icons.svg#icon-sun"></use>
            </svg>
          </div>
        </div>
    </div>
        <div class="backdrop-menu visually-hidden" data-backdrop></div>
      </div>
      <div class="visually-hidden" scroll-to-top>
        <img class="scroll-img" src="./images/scroll-btn.png" alt="go up">
        <span class="go-up-btn">go up</span> 
      </div>
      
</header>

