<section class="hero-section" id="hero-section">
    <div class="hero-img">
      <div class="hero-gradient">
      <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
      <div class="hero-star-raiting"></div>
      <p class="hero-text">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.
      </p>
      <p class="hero-text-magic">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers. Decorate your space, choose your
        films, and stock up on snacks for the full experience.
      </p>
      <a class="button-orange">Get Started</a>
      </div>
    </div>
  </div>
</section>