<div class="menu-container container" data-menu id="mobile-menu">

    <a href="./index.html">
      <img class="logo menu-logo" src="./images/logo/header_logo@2x.png " width="32px" height="32px" alt="Фільм" />
    </a>

  <ul class="menu-list">
    <li class="nav-menu is-active"><a href="./index.html" class="menu-link">HOME</a></li>
    <li class="nav-menu"><a href="./catalog.html" class="menu-link">CATALOG</a></li>
    <li class="nav-menu"><a href="./my-library.html" class="menu-link">MY LIBRARY</a></li>
  </ul>
</div>
