<div class="menu-container container" data-menu id="mobile-menu">

      <a href="./index.html">
        <picture class="logo">
                    <source srcset="
                    ./images/logo/logo_tab@1x.png 1x,
                    ./images/logo/logo_tab@2x.png 2x
                      " media="(min-width: 768px)" />
                    <source srcset="
                        ./images/logo/logo_mob@1x.png 1x,
                        ./images/logo/logo_mob@2x.png 2x
                      " media="(max-width: 767.9px)" />
                    <img src="./images/logo/logo_tab@1x.png " alt="Фільм" />
                  </picture>
    </a>

  <ul class="menu-list">
    <li class="nav-menu is-active"><a href="./index.html" class="link-menu">HOME</a></li>
    <li class="nav-menu"><a href="./catalog.html">CATALOG</a></li>
    <li class="nav-menu"><a href="./my-library.html">MY LIBRARY</a></li>
  </ul>
</div>
