<section class="our-products-section" id="our-products">
  <div class="container">
    <h2 class="our-products-title">OUR PRODUCTS</h2>
    <div class="our-products-card">
      <ul class="our-products-list">
        <li class="our-products-item">
          <picture class="our-products-picture">
            <source
              media="(max-width: 767.9px)"
              srcset="
                ./images/mobile/our_products/pic@1x.webp 1x,
                ./images/mobile/our_products/pic@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.9px)"
              srcset="
                ./images/mobile/our_products/pic@1x.jpg 1x,
                ./images/mobile/our_products/pic@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 1439.9px)"
              srcset="
                ./images/tablet/our_products/pic@1x.webp 1x,
                ./images/tablet/our_products/pic@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1439.9px)"
              srcset="
                ./images/tablet/our_products/pic@1x.jpg 1x,
                ./images/tablet/our_products/pic@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/our_products/pic@1x.webp 1x,
                ./images/desktop/our_products/pic@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/our_products/pic@1x.jpg 1x,
                ./images/desktop/our_products/pic@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="our-products-image"
              src="./images/desktop/our_products/pic@2x.jpg"
              alt="thumb"
              width="343"
              height="300"
            />
          </picture>
          <p class="our-products-paragraph">Minimalist storage solutions</p>
        </li>
        <li class="our-products-item mobile-hidden">
          <picture class="our-products-picture">
            <source
              media="(max-width: 1439.9px)"
              srcset="
                ./images/tablet/our_products/pic2@1x.webp 1x,
                ./images/tablet/our_products/pic2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1439.9px)"
              srcset="
                ./images/tablet/our_products/pic2@1x.jpg 1x,
                ./images/tablet/our_products/pic2@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/our_products/pic2@1x.webp 1x,
                ./images/desktop/our_products/pic2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/our_products/pic2@1x.jpg 1x,
                ./images/desktop/our_products/pic2@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="our-products-image"
              src="./images/desktop/our_products/pic2@2x.jpg"
              alt="sofa"
              width="343"
              height="300"
            />
          </picture>
          <p class="our-products-paragraph">Handcrafted minimalist seating</p>
        </li>
        <li class="our-products-item mobile-hidden tablet-hidden">
          <picture class="our-products-picture">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/our_products/pic3@1x.webp 1x,
                ./images/desktop/our_products/pic3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/our_products/pic3@1x.jpg 1x,
                ./images/desktop/our_products/pic3@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="our-products-image"
              src="./images/desktop/our_products/pic3@2x.jpg"
              alt="table"
              width="343"
              height="300"
            />
          </picture>
          <p class="our-products-paragraph">Sleek and simple tables</p>
        </li>
        <li class="our-products-item mobile-hidden tablet-hidden">
          <picture class="our-products-picture">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/our_products/pic4@1x.webp 1x,
                ./images/desktop/our_products/pic4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/our_products/pic4@1x.jpg 1x,
                ./images/desktop/our_products/pic4@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="our-products-image"
              src="./images/desktop/our_products/pic4@2x.jpg"
              alt="chair"
              width="343"
              height="300"
            />
          </picture>
          <p class="our-products-paragraph">
            Minimalist seating for every space
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
