<section class="price" id="prices">
  <div class="price-container container">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price.</h2>
    <ul class="price-list">
      <li class="price-list-item">
        <p class="products-name">Chairs</p>
        <p class="products-cost">from 200&#8372;</p>
      </li>
      <li class="price-list-item">
        <p class="products-name">Tables</p>
        <p class="products-cost">from 250&#8372;</p>
      </li>
      <li class="price-list-item">
        <p class="products-name">Dressers</p>
        <p class="products-cost">from 300&#8372;</p>
      </li>
      <li class="price-list-item">
        <p class="products-name">Sofas</p>
        <p class="products-cost">from 500&#8372;</p>
      </li>
    </ul>
  </div>
</section>
