<section class="weekly-section container">
    <div class="weekly-wrapper">
    <h2 class="header-weekly">WEEKLY TRENDS</h2>
    <a href="./catalog.html" class="weekly-link">See all</a>
</div>
<div class="container-img-weekly">
    <div class="img-wrapper">

    </div>
</div>
</section>

<section class="month-section container">
    <h2 class="month-title">UPCOMING THIS MONTH</h2>
    <div class="month-wrapper"> 
    </div>
    <button class="add-to-library">Add to my library</button>
</section>