<section class="weekly-section container">
    <ul class="weekly-wrapper">
    <h2 class="header-weekly">weekly trends</h2>
    <a href="./catalog.html" class="weekly-link">See all</a>
</ul>
<div class="container-img-weekly">

</div>
</section>

<section class="month-section container">
    
    <h2 class="month-title">upcoming this month</h2>
    <ul class="month-wrapper"> 
    </ul>

    <button class="add-to-library">Add to my library</button>
    <button class="remove-from-library visually-hidden">Remove from my library</button>

</section>