body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  background-color: var(--blue-font);
  border: transparent;
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
